[2017-12-04 08:46] jellegerbrandy opened #1 "add circleci config"
- [ ] Upgrade to CircleCI v2

[2017-12-13 23:42] bent0b0x opened #5 "Make a decision, yarn vs npm"
Right now this repo contains a `yarn.lock` and a `package-json.lock` file. Update the readme to use `npm` or `yarn` and then delete the other lockfile.

[2017-12-13 23:42] bent0b0x opened #6 "Republish to npm with new package name"
We are removing the scope of `@paratii-video` from this lib. This means the package should be republished to npm.

[2017-12-13 23:43] bent0b0x commented on #1
For now, I think this can include an auto-publish to `npmjs.org ` on successful `master` builds.

[2017-12-14 00:11] bent0b0x commented on #1
In this task I will also add linting and prettier

[2017-12-14 01:44] bent0b0x opened #7 "Create new demo app/page"
With the refactor of the lib, the demo page no longer works/loads the player correctly. This needs to be resolved to have a dev experience outside of `paratii-player`.

[2017-12-14 09:08] jellegerbrandy commented on #5
I vote yarn.

[2017-12-14 09:10] jellegerbrandy commented on #7
I don't get it.

[2017-12-14 09:19] eliawk commented on #5
circle-ci is using yarn so maybe it's better do the same

[2017-12-14 13:23] bent0b0x commented on #5
Switching to `yarn` via #8

[2017-12-14 13:24] bent0b0x commented on #6
Done, and this is further taken care of via #8

[2017-12-14 13:24] #6 closed

[2017-12-14 13:26] bent0b0x commented on #7
When I say demo app, I mean `index.html` that exists in this repo. This was used initially as the POC for getting the clappr player working. With our refactor of of the js, in terms of how we expose the apis in the lib, this `index.html` displays nothing.

It would be helpful to maintain `index.html` (and supporting scripts) within this repo to exist as a demo/sandbox environment in which we can q

[2017-12-14 13:30] eliawk commented on #7
@bent0b0x ok i get your point now, but do you think we will need this demo page?

[2017-12-14 13:35] bent0b0x commented on #7
I think it would be useful (and also I do not think it will be difficult to do).

Let'e say we need to make a minor UI change on the volume bar or something; if we have this demo page we can spin that up and make the change just by running `paratii-mediaplayer`. If we do not have this we need to spin up `paratii-player` and navigate to a video just to get a look at the player.

For example having

[2017-12-14 15:28] jellegerbrandy commented on #7
I agree

[2017-12-14 17:17] bent0b0x commented on #1
- [ ] Upgrade to CircleCI v2

[2017-12-15 13:29] bent0b0x commented on #1
This is mostly resolved, opening up a new issue re: deployment

[2017-12-15 13:29] #1 closed

[2017-12-15 13:30] bent0b0x opened #10 "Fix deployment config for circleCI"
Currently builds tagged with a new version on `master` do not deploy successfully. In fact they try to deploy before they build, which is wrong.

Example: https://circleci.com/gh/Paratii-Video/paratii-mediaplayer/10

[2017-12-15 13:57] bent0b0x opened #11 "SVGs urls in sass files are not being transformed into data urls"
These lines in the webpack config should take care of this, but it seems they are not working: https://github.com/Paratii-Video/paratii-mediaplayer/blob/master/webpack.config.js#L67-L70

[2017-12-15 13:57] bent0b0x commented on #11
cc @eliawk

[2017-12-19 08:33] #11 closed

[2017-12-19 22:27] pedrocasa opened #13 "Design.FreeContentWatch"
Hi guys,
here are the first sketches for the Mediaplayer (twitter size again)

![flow_mediaplayer](https://user-images.githubusercontent.com/30123644/34181956-71d814b4-e4fb-11e7-9bd2-17b357738008.png)

 Engineering feedback from @jrgarou:

- [ ] simplify class names
example:
[code]
- [ ] try not to use inline styles for animations/transitions. Leverage `CSSTransition` or just use our own transitio

[2017-12-21 05:11] bent0b0x commented on #10
This is now resolved (after a ton of trial and error changing the circle config on `master`). All I will say is that `CircleCI@2.0`'s config is 1000x less intuitive than that of `CircleCI@1.0` :)

[2017-12-21 05:11] #10 closed

[2017-12-27 13:39] #7 closed

[2017-12-27 13:39] #5 closed

[2017-12-27 13:41] bent0b0x opened #15 "Make player styles more responsive"
Currently, the player is hard-coded to have a height of `100vh` and a width of `100%`. The height specifically causes problems.

![image](https://user-images.githubusercontent.com/7697924/34383205-ab15d54a-eae1-11e7-842b-d4bf6034f7b6.png)

[2018-01-04 10:46] eliawk opened #19 "Add chimp test to mediaplayer"

[2018-01-04 19:51] jrgarou commented on #13
Great work, @pedrocasa.
Just some observations about the modals:

## Modal (Profile/Connections)
- The _"X"_ icon may be more intuitive than _"-"_ icon. What you think?

![image](https://user-images.githubusercontent.com/320157/34579283-78822392-f16f-11e7-9914-3ce438f5ef67.png)

### Modal Profile
Some points from [Player Specifications]( https://github.com/Paratii-Video/paratii-portal/wiki/Player-

[2018-01-04 20:19] jrgarou commented on #13
@bent0b0x @jellegerbrandy , is it too soon to apply this design on `paratii-mediaplayer`?

[2018-01-04 20:39] jellegerbrandy commented on #13
Yes, it is too soon  - I answered on gitter in the dev channel, but the idea is that we first start geting all the basic stuff (playing, account handling) in `paratii-portal`) before starting to wokr on the UX of the embeddable player itself.

[2018-01-08 21:52] bent0b0x commented on #13
@jellegerbrandy is it still too early now? I think I am going to start on this today (at least that was implied on the call this morning). Let me know if you want to hold off!

[2018-01-08 21:55] jellegerbrandy commented on #13
Go! 😀

[2018-01-09 09:04] jellegerbrandy opened #20 "UX Specification"
write UX Specs

[2018-01-09 09:05] #20 closed

[2018-01-09 09:29] jellegerbrandy commented on #13
@pedrocasa : there is also this adobe file: https://xd.adobe.com/view/e1a73377-b4a1-4d2e-90b9-e3597964b1a0/screen/5f2b5cd5-83ed-48b9-ba6a-662b97c7cf50/TS-0-11?fullscreen

What is the status of that? Which on is the most recent version? Or are they both relevent?

[2018-01-09 09:31] jellegerbrandy commented on #13
By way of documentation, here's a link to the original specifications file: https://github.com/Paratii-Video/paratii-portal/wiki/Player-Specifications

[2018-01-09 09:46] jellegerbrandy opened #21 "Deploy media player to an AWS server"
- [ ] set up domain: player2.paratii.video
- [ ] furnish a new machine (or perhaps use the `staging` server)
- [ ] set up circleci continuous deployment

[2018-01-10 02:14] bent0b0x commented on #13
Grid design:

![grid_8px](https://user-images.githubusercontent.com/7697924/34752710-f5e41654-f581-11e7-8568-4f79c7c5526b.JPG)

[2018-01-10 02:32] bent0b0x commented on #13
Verrrryyyy early stages, but just showing that there is some progress here (and I know this does not match the design in many ways yet 😄 ). Also, all of the data is fake right now.

![wallet plugin](https://user-images.githubusercontent.com/7697924/34753174-87e9b67e-f584-11e7-8aca-2a98221bb9a6.gif)

[2018-01-10 02:36] bent0b0x commented on #13
@jellegerbrandy @ya7ya part of this design is showing your PTI/ETH balance in USD. Do you think there will be an api in paratii lib to do this conversion?

[2018-01-10 07:25] jellegerbrandy commented on #13
Eventually, probably, yes. But while we are still in alpha, PTI will have no dollar value (and neither do we want to "fake" a dollar value, because we do not want to make any claims yet about how much a PTI might be worth).

What I'm getting at: we will not show a dollar value in this first iteration.

[2018-01-16 01:51] #13 closed

[2018-01-16 01:58] pedrocasa opened #22 "Design.Player."
New design UI & UX for the Player

-I have renumbered all the pages to don't confuse with the older flows
-Please if you wanna talk about a specific page write the number

[Paratii_Player_TwitterDimens_Flow.pdf](https://github.com/Paratii-Video/paratii-mediaplayer/files/1634108/Paratii_Player_TwitterDimens_Flow.pdf)
[Paratii_Player_MobileSize_Flow.pdf](https://github.com/Paratii-Video/paratii-medi

[2018-01-16 07:47] jellegerbrandy commented on #22
@pedrocasa , for some reason the upload of mobile and twiter size did not succeed, the links are not working. Can you try again?

[2018-01-16 08:14] pedrocasa commented on #22
sure, here it is

[2018-01-16 08:52] jellegerbrandy commented on #22
Ok, this is very pretty! I have some general remarks:

- I like the clean design, also the fact that it is very modular in approach (i.e. easy to add or remove functinality by adding a button)

- Appreciate the mobile version. It is probably best to see the mobile version as a **third** application: a) embeddeble player (<- i.e. in an iframe embedded in a website) (b) portal and (c) mobile app. Th

[2018-01-16 17:13] felipegaucho commented on #22
Appreciate it Pedro, think its fully workable upon. Also, kudos to @jrgarou for pointing to some issues here and helping and correct them fast.

I have some personal objections towards too-fluorescent details, but nothing compared to the cohesiveness of the whole. Eager to see this components in other contexts.

[2018-01-16 17:16] bent0b0x commented on #22
Designs look awesome @pedrocasa!

I do have some questions, particularly w/ regards to how these forms/views will obscure the video when they are opened:

- Do we think a video will continue playing if, for example, the form to create an account slides up?
- Is there a point to keeping the part of the video unblocked, especially on smaller screens? i.e. could the login form take up the whole viewp

[2018-01-16 18:35] jrgarou commented on #22
Great, @pedrocasa
What you think about these points:

- The background panel could have a solid color(no opacity) to a better reading. There's no need to see the video behind.
![image](https://user-images.githubusercontent.com/320157/35003630-86a562cc-fad4-11e7-8a48-0faba2d2f1e5.png)

- The "modal" and the button are too similar.
Those **rounded thin lines + shadow** could be a problem to looking

[2018-01-16 19:05] pedrocasa commented on #22
Gonna try to answer everybody here hahaha

Jell:

- That is exactly what we are trying to achieve.
- Ok.
- This makes sense. we can try to take out some tools depending on the size.

Felipe:

- No problem, we can work more on the colours to avoid it.
- I agree short words would be better.

Ben:

- No, The idea is to have these options only when the player is paused. ( in the flow the suggestive bu

[2018-01-22 14:01] jellegerbrandy opened #25 "Player must accept an existing node in the contructor"
here we create a new node ach time:
https://github.com/Paratii-Video/paratii-mediaplayer/blob/master/src/js/index.js#L17

Instead, the constructor must take "node" argument, so that we can pass it an existing (arleady started, shared with other vis) node

[2018-01-22 16:59] bent0b0x commented on #25
Should the player create a node if none is passed in or always rely on having a node provided?

[2018-01-22 17:06] jellegerbrandy commented on #25
My heart says it should create a node itself :-)
I'm just not sure about the start parameters... I'd say for now the easist fix is to keep the current code as the default if no node instance is provided to the contructor.

[2018-01-22 19:02] bent0b0x commented on #25
Working on this now

[2018-01-22 21:36] bent0b0x commented on #25
done

[2018-01-22 21:36] #25 closed

[2018-01-26 14:49] bent0b0x commented on #22
@pedrocasa just want to confirm, is it okay if I start building out the embedded player based on these designs (with a few tweaks to come) or are there major changes coming first?

[2018-01-29 02:29] bent0b0x commented on #22
@pedrocasa can you upload a version of this w/ a grid (and indicate grid scale).

Also, could you include any/all svg files?

Finally (sorry if this is a big ask), what are the font sizes of all text 😬 ?

[2018-01-29 23:37] bent0b0x commented on #22
@pedrocasa what is supposed to happen when the volume button is hovered/clicked?

[2018-01-30 04:09] bent0b0x opened #30 "Make style overrides compatible w/ latest clappr version"
Currently, our media control style overrides only work w/ `clappr@0.2.78`. When updating to the latest `clappr`, our style overrides break. This needs to be fixed.

![image](https://user-images.githubusercontent.com/7697924/35547835-93744084-0549-11e8-9f56-a01bee9322d5.png)

☝️ alignment is off, icons do not show up, and buttons are unresponsive

[2018-01-30 12:11] pedrocasa commented on #22
hey ben,
here it is ( I'm using a 8x8px grid)

fullscreen 1920x1080
![screen shot 2018-01-30 at 10 07 34 am](https://user-images.githubusercontent.com/30123644/35565688-b4c30214-05a5-11e8-95ee-15d6c961ade0.png)

twitter 504X288
![screen shot 2018-01-30 at 10 06 33 am](https://user-images.githubusercontent.com/30123644/35565675-a86344ca-05a5-11e8-8d2f-c1103b818d13.png)

mobile 664x376
![screen shot

[2018-01-31 18:54] pedrocasa opened #32 "🎨 Design.Player UI KIT [definite thread]"
Here it is the individual elements of the UI of the issue https://github.com/Paratii-Video/paratii-mediaplayer/issues/22

Last update 2018/MAR/16

Adobe Design specs (free account needed to open it)
https://xd.adobe.com/spec/b8376f2b-514b-4971-b0e4-83c9e010fcde/

[2018-02-01 00:13] bent0b0x commented on #32
This is awesome, thanks @pedrocasa

[2018-02-01 00:15] bent0b0x commented on #32
**SVGs**
- fullscreen: https://we.tl/y8JiifODAw
- twitter: https://we.tl/fOcHioIxQV
- mobile: https://we.tl/FAr7zj2wYf

**Fonts**
- fonts-full: title: 46px time: 24px
- fonts-twitter title: 16px time: 14px
- fonts-mobile title: 20px time 14px

[2018-02-01 00:23] bent0b0x commented on #22
@pedrocasa one thing that would be helpful is what are the differences in the player when rendered in the portal/website vs the embedded player? I assume in the portal we also want the overlay to have the title, but do we need any of the icon links on the top right of the overlay?

[2018-02-01 13:06] pedrocasa commented on #32
![screen shot 2018-01-31 at 6 35 03 pm](https://user-images.githubusercontent.com/30123644/35679931-eedc8286-073f-11e8-9144-1e708c817a9f.png)
![screen shot 2018-02-01 at 11 03 51 am](https://user-images.githubusercontent.com/30123644/35679933-f0483d18-073f-11e8-9962-ef247956fc6b.png)
![screen shot 2018-02-01 at 11 04 09 am](https://user-images.githubusercontent.com/30123644/35679935-f16709c2-073f-

[2018-02-09 14:07] bent0b0x opened #34 "Gather statistics on player bundle size"
@felipegaucho has requested this

[2018-02-09 17:09] jellegerbrandy commented on #34
I'm not sure what this is for, but I assume for optimiziation

In that case, I think we are interested in loading times more than "bundle size", and specifically times like "how long before you see a complete page", "how long before you can click on something", "how long before a video starts playing".

These are of course very much related to the size of the code - but it is not the same.

For th

[2018-02-12 06:25] bent0b0x opened #37 "Consider replacing Clappr media controls"
Right now, some of the player UI is rendered by `Clappr` (which we style/adjust) and some (e.g. video title, wallet information, etc) is rendered by `paratii-portal` and react.

This is problematic! Not necessarily a deal-breaker, but problematic.

It takes some effort for us to render all of these UI elements in sync, and it is unclear as to what, exactly, our source of truth is for our UI state.

[2018-02-12 09:57] jellegerbrandy commented on #37
Yes, this is not completely unexpected :-/

In any case, the idea of having the "paratii player as a clappr plugin" never really became a real thing.

Just to be clear: if we indeed replace "all of clapprs conrols with our own", what remains of clappr?

(@felipegaucho , also you might be interested in this discussion)

[2018-02-12 13:31] bent0b0x commented on #37
I'm not entirely sure, but I would _think_ it handles video loading/playback for us quite well. All we do is pass in an `ipfsNode` and some additional config and we're good to go. Perhaps that is easy to do w/o `Clappr`, but you or @ya7ya would likely know better than I do.

But purely in terms of the UI, I do not think `Clappr` is providing very much value at this point, for these reasons:
- its

[2018-02-13 11:55] jellegerbrandy commented on #37
For reference:

- A Proof-of-concept PR: https://github.com/Paratii-Video/paratii-portal/issues/161
- Google doc with discussion: https://docs.google.com/document/d/11WdJY8DKMhTpj03uT7a9Yr3blDg4eTDTNlsBL9Qbtr4/edit?usp=sharing_eip&ts=5a820e53

[2018-02-16 11:00] felipegaucho commented on #34
Yes, for optimisation. I propose keeping track of minified **bundle size** (for the embedded player, 'standalone', only); **startup time**; and **playback failure rates**, for now.

@bent0b0x and @ya7ya naturally come to mind, but maybe @Leeaandrob can help us streamline the process or use a proper tool/flow.

(for ref: https://mux.com/blog/the-four-elements-of-video-performance)
(for ref2: https:

[2018-02-23 15:20] pedrocasa opened #39 "Design.Player Sharing"
Here is the Sharing screens for the mobile player
Design specs
last update 2018/03/02

https://xd.adobe.com/spec/505ba874-4fd4-4a0b-9655-6082e86e8825

[2018-02-26 12:07] felipegaucho opened #40 "Player responsiveness fix: appears wider than it should, black bars always there"
Although on the /embed route it seems the ratio and size is fine, on the /play route, the player shows up too wide, which leaves black bars on the side of the video. It should be less wide, and use the standard format.

Spotted on MAC / Chrome.

![giz responsive](https://user-images.githubusercontent.com/26517120/36669492-db019fce-1ad3-11e8-8380-d6de1f7be858.gif)

[2018-02-26 12:09] felipegaucho opened #41 "Full screen option not appearing on Twitter"
To check, follow this link: https://twitter.com/jellegerbrandy/status/967199706207195136

Note it is present on the /embed route: https://portal.paratii.video/embed/JSeRyKaS0ebp

[2018-02-26 12:10] felipegaucho commented on #37
@bent0b0x let me know if there's any reason to keep this open.

[2018-02-26 12:10] #37 closed

[2018-02-26 12:13] felipegaucho opened #42 "Duplicate player bug on /play route"
Mad bug that clones the player and stacks the two copies, spotted on Mac / Chrome:

![double gif](https://user-images.githubusercontent.com/26517120/36669840-0b3492ea-1ad5-11e8-91ac-b889c18651a2.gif)

It seemed to happen more often when I had more applications and tabs opened.

[2018-02-26 12:14] #21 closed

[2018-02-26 12:14] felipegaucho commented on #19
@eliawk what's the state here?

[2018-02-26 12:20] felipegaucho commented on #15
Is this done @bent0b0x ? If not, is it related to https://github.com/Paratii-Video/paratii-mediaplayer/issues/40 ?

[2018-02-26 12:23] bent0b0x commented on #15
This can be closed but it is not related to that other issue

[2018-02-26 12:23] #15 closed

[2018-02-26 12:23] felipegaucho opened #43 "Video title and sharing icon are paralysed/unresponsive"
They're both functional, but do not leave/vanish once you mouse away from the player, and always remain there obstructing part of the view. Both on /play and /embed.

![title gif](https://user-images.githubusercontent.com/26517120/36670318-b59be8e0-1ad6-11e8-953c-c009e3d92e03.gif)

[2018-02-26 12:25] bent0b0x commented on #43
FYI this will be resolved by our move away from Clappr controls. Working on this this week

[2018-02-26 12:25] bent0b0x commented on #19
This has not be done. We probably don’t need this as our player tests can live in the portal repository

[2018-02-26 12:25] #19 closed

[2018-02-26 12:26] bent0b0x commented on #42
I have seen this happen but thought I resolved it. Guess not! Will take another pass

[2018-02-26 12:28] felipegaucho commented on #22
Closing this in favour of the definite https://github.com/Paratii-Video/paratii-mediaplayer/issues/32

[2018-02-26 12:28] #22 closed

[2018-02-26 12:33] jellegerbrandy commented on #42
Moving this issue to https://github.com/Paratii-Video/paratii-portal/issues/252 because this code lives in the portal

[2018-02-26 12:33] #42 closed

[2018-02-26 12:39] felipegaucho opened #44 "Design "stats" box"
We want to make available some basic p2p stats for users, on the embedded player. These can be either inside the wallet/profile space, or separate.  I suggest we show:

- **X Peers**
- **Y Mb stored**   ||      (amount of localStorage we're using [under the suggestion of @EuSouRye, an early uploader]).
- A cellphone-battery-level-like **meter** for showing the speed of upload and download (I don't

[2018-02-26 12:50] pedrocasa commented on #44
This is not a peer to peer icon, its a chromecast icon

[2018-02-26 12:50] pedrocasa commented on #44
But we can design one peer-to-peer icon if it's needed

[2018-02-26 12:59] felipegaucho commented on #34
Closing this in favour of tracking metrics here: https://github.com/Paratii-Video/paratii-mediaplayer/wiki/Tracking-performance-metrics

It'd be great if @ya7ya could point there the change in bundle size and corresponding PR for optimisation that happened recently (I couldn't find it).

Later on we can get stats on the legacy player.

[2018-02-26 12:59] #34 closed

[2018-02-26 13:00] felipegaucho commented on #32
Specs for the sharing screen (from https://github.com/Paratii-Video/paratii-mediaplayer/issues/39)

Last update: **2018/03/02**

https://xd.adobe.com/spec/505ba874-4fd4-4a0b-9655-6082e86e8825

[2018-02-26 13:01] felipegaucho commented on #39
Closing this in favour of the definite https://github.com/Paratii-Video/paratii-mediaplayer/issues/32

(relevant content was ported there)

[2018-02-26 13:01] #39 closed

[2018-02-26 13:09] felipegaucho opened #45 "Implement stats box"
Dependant on https://github.com/Paratii-Video/paratii-mediaplayer/issues/44

[2018-02-26 13:12] felipegaucho opened #46 "Adapt volume icon and bar to our design"
@pedrocasa do we have specifications for the bar, or what happens once the icon is clicked?

![screen shot 2018-02-26 at 9 30 47 am](https://user-images.githubusercontent.com/26517120/36672269-7bccbf84-1add-11e8-95f4-96e225d2da80.jpg)

If yes, please update the XD specs on the definite UI kit thread https://github.com/Paratii-Video/paratii-mediaplayer/issues/32

We need @bent0b0x to adapt the curr

[2018-02-26 13:14] felipegaucho opened #47 "🔧Implement video quality icon and function"
Along the lines of https://github.com/Paratii-Video/paratii-mediaplayer/issues/46, we don't have this control yet. It was working pretty well on the legacy player, and I assume we just need to port the code.

@pedrocasa do we have specifications for what happens once the "engine icon" button is clicked?

[2018-02-26 13:15] felipegaucho opened #48 "Adapt full screen button to our design"
As specified on https://xd.adobe.com/spec/7f9e0d73-b3e7-43fc-bff2-c48187bef63f

[2018-02-26 13:38] felipegaucho opened #49 "Implement user icon and wallet"
@pedrocasa we have such icon and wallet designed here https://github.com/Paratii-Video/paratii-mediaplayer/issues/22#issuecomment-358061140 . Are these valid / can @bent0b0x follow on w/ them? Can you port them to the UI kit https://github.com/Paratii-Video/paratii-mediaplayer/issues/32, since they're not there on the top of the video play screen?

Also, worth noting next/previus video buttons and

[2018-02-26 17:05] felipegaucho opened #50 "Implement chromecast support"
On the UI kit for 0.0.2 we have the "chromecast" icon in the media controls lower bar:

<img width="669" alt="screen shot 2018-02-26 at 9 30 47 am" src="https://user-images.githubusercontent.com/26517120/36670764-02fb1bf0-1ad8-11e8-9957-06e7cab8b6db.png">

[Clappr has got a plugin for it](https://github.com/clappr/clappr-chromecast-plugin). Could we use it @bent0b0x ? Make an own? Feel free to tak

[2018-02-27 11:26] bent0b0x commented on #50
Not sure how difficult this will be. We may have to write our own; I will update this issue when I start work on 0.0.3 and can better evaluate the task!

[2018-03-07 12:53] felipegaucho opened #53 "Make video title finish with [...] when too big"
When on mobile, sometimes the title gets bigger than the whole iFrame itself.

[2018-03-07 14:10] bent0b0x commented on #53
Thanks for reporting, this should be easy to fix and I'll get to it soon 👍

[2018-03-09 14:33] felipegaucho opened #54 "Media controls realignment on lower bar"
Play button and all icons are a little closer to the top of the lower bar than they should - unaligned vertically.

<img width="1057" alt="screen shot 2018-03-09 at 10 07 59 am" src="https://user-images.githubusercontent.com/26517120/37212336-8c4ed5b4-238d-11e8-8edf-f482ff698b06.png">

[2018-03-09 22:32] bent0b0x commented on #54
FYI this is the old player and these controls will be removed and replaced ASAP (as soon as I resolve the blocking bugs)

[2018-03-11 17:52] bent0b0x commented on #47
@pedrocasa I think you mentioned you have a design for this but can you post it here?

[2018-03-11 17:55] bent0b0x commented on #46
@pedrocasa can you share details as to what the exact UX/UI for the volume bar should be? Thanks!

[2018-03-11 22:31] bent0b0x commented on #47
FYI @felipegaucho I've built out the surrounding logic/functionality for the quality selector. Once the design is ready I can implement it and we'll be good to go:

![playbackleveldemo](https://user-images.githubusercontent.com/7697924/37259263-6c09323a-255a-11e8-875b-31f9a2295546.gif)

[2018-03-12 14:54] pedrocasa commented on #47
Its here Ben https://github.com/Paratii-Video/paratii-mediaplayer/issues/32

[2018-03-12 14:58] bent0b0x commented on #47
☝️ I do not think it is in there. Could you reference the design directly in this issue? It is much easier to work w/ when it is put in the specific issues 😄

[2018-03-13 01:45] bent0b0x commented on #47
![image](https://user-images.githubusercontent.com/7697924/37318035-a061f88e-263e-11e8-831d-220f4ef24324.png)

[2018-03-13 04:44] bent0b0x commented on #47
@felipegaucho @pedrocasa this isn't perfect yet but lmk what you think so far

![qualitydemo](https://user-images.githubusercontent.com/7697924/37323060-9c7a06e4-2657-11e8-8cd4-0620d1ce8648.gif)

[2018-03-13 13:45] pedrocasa commented on #47
The dot should be locked on the center and the values should move

[2018-03-13 15:20] pedrocasa commented on #47
Also I don't know if u should focus on this small details but if u take a look at the specs (https://github.com/Paratii-Video/paratii-mediaplayer/issues/32) the panel of the player has 95% of opacity.

[2018-03-13 15:40] bent0b0x commented on #54
Closing, we are no longer using these controls

[2018-03-13 15:40] #54 closed

[2018-03-13 15:41] bent0b0x commented on #47
Do we really want to do dragging here? Is clicking ok for now? @pedrocasa

[2018-03-13 16:10] pedrocasa commented on #47
Sure, don't need to drag. Analysing it again maybe it's not even a good idea to drag it.
What I want to keep about this idea is the dot blocked and the values moving

[2018-03-13 16:15] bent0b0x commented on #47
For sure, I like that too. I'll work on that tonight!

[2018-03-16 20:08] pedrocasa commented on #47
Hen Ben, I've Updated the video resolution menu for screens bigger than 664px
( still working o screens that are bigger than this - but for now we've already a re-start)

link on #32

[2018-03-17 00:45] felipegaucho opened #55 "Implement thumbnails when scrubbing"
I suppose this means (1) making sure we're generating a spritesheet at some point (@ya7ya?); implementing the actual plugin to show them.

I imagine at this point this is not of much use, but will pin it here regardless https://www.npmjs.com/package/clappr-thumbnails-plugin

[2018-03-17 00:46] felipegaucho opened #56 "Implement thumbnail "video previews" when scrubbing"
I suppose this means

[ ] Designing it @pedrocasa;
[ ] Making sure we're generating a spritesheet at some point (@ya7ya?);
[ ] Implementing the actual plugin to display them.

I imagine this is not of much use at this point, but will pin it here regardless https://www.npmjs.com/package/clappr-thumbnails-plugin

[2018-03-17 03:52] bent0b0x commented on #56
@felipegaucho yes that plugin is not something we can directly use, but thanks for pinning it because it will be a good model for how we can build ours 👍

[2018-03-17 15:31] #48 closed

[2018-03-17 16:27] #43 closed

[2018-03-17 16:28] bent0b0x commented on #49
Agree on the next/previous video buttons. @pedrocasa thoughts on the design?

[2018-03-17 16:40] bent0b0x commented on #41
It is appearing now, but it is not working. @jellegerbrandy how was this tweet created? Did you use an embed code w/ iframe or just post a link to video?

I wonder if this has to do w/ `allowfullscreen` iframe attribute, but let me know what you think.

[2018-03-17 16:42] bent0b0x commented on #40
This is much better now but we still get the black bars sometimes. Will look to optimize.

[2018-03-18 23:42] bent0b0x commented on #46
@pedrocasa as you can see in the gif below, the "horn" in the mute icon and volume icon are slightly different sizes. This causes a jump when the icons switch. Could you provide a new set where that part of the icons are exactly the same dimensions?

Thanks!

![muteproblemicon](https://user-images.githubusercontent.com/7697924/37572641-719a695a-2ae4-11e8-9fdc-21f955c4b1e1.gif)

[2018-03-19 18:01] pedrocasa commented on #46
Hey guys,

I have fixed a lot of minor issues about this volume bar problems
( specially this 2)

- The mute state
- The problem of having a lot of buttons close to the volume bar causing unnecessary movement of  buttons

I also created two other options for the volume bar on the same link

Option 1 good & Bad notes about it

-  [ _Good_ ] Is the one that the user has more control over

[2018-03-19 18:20] pedrocasa commented on #46
I have fixed a lot of minor issues about this volume bar problems
(especially this 2)

- The mute state
- The problem of having a lot of buttons close to the volume bar causing unnecessary movement of  buttons

https://xd.adobe.com/spec/4b1b6f6b-81c7-461c-9491-e738a3c5294b
_I also created two other options for the volume bar on the same link ( we don't need to implement it now, the option 1(actual

[2018-03-19 20:21] felipegaucho commented on #46
Pedro, I think we're fine with option 1 (small screens are an issue but most people use cellphone controls there, anyway). Enrico, Elia and Jelle have had a brief look here.

Youtube puts the duration of the video to the right of it, maybe 'cause it's better to leave controls together and static info. separated (instead of "play", duration, "volume"). This made me think if we couldn't throw the vo

[2018-03-20 00:44] bent0b0x commented on #46
@felipegaucho the problem with putting it to the right is that when we hover over the button, the button then would move left to make room for the volume bar. This is a bad UX as it makes it difficult to click on the button. I think it is better to put it to the left if we are going w/ option 1

[2018-03-20 00:45] bent0b0x commented on #46
@pedrocasa I will work w/ option 1 for now.

Regarding option 2, to me that graphic looks like wifi/cell signal strength, so I'm not sure if we want to go w/ that. I do, however, like option 3 if we use the same bar we are building now.

[2018-03-20 03:04] pedrocasa commented on #46
@felipegaucho the only decision why I've designed the volume button on the right side of the time was because it was the way of not moving any button.

Showing the "volume control slider" on the left side of the icon will against all the experience that the user is already expecting. Also the icon would need to be in different direction and it would be a mess to know which direction is less or mor

[2018-03-20 03:11] felipegaucho commented on #46
Got it! Very fine and happy w/ https://github.com/Paratii-Video/paratii-portal/pull/371#issuecomment-374457122, think we're good to go on this one. @pedrocasa , it'd be nice to save all these options and work on a safe place ;)

[2018-03-20 03:11] #46 closed

[2018-03-20 03:16] pedrocasa commented on #46
Also I think that the reason why yt keeps it on the left side of the video bar it would be kind of strange seeing a slide bar pushing a button. (Buttons and their slider bars got their own hierarchy to be respectd).

it's like menus that we open in text editing software (for example) the header buttons are fixed on top and the menus open and move according to them and not against them. I do not kn

[2018-03-20 03:16] felipegaucho commented on #56
@jellegerbrandy brings the point we shouldn't frame small things like this on scope (e.g. getting this spritesheets thing on @ya7ya's table, have Pedro think about this design, etc), and rather implement them as they become requested, or make it easier for devs to do do it for their needs through documentation. I tend to agree, and would happily close this issue or just not prioritise it for now.

[2018-03-20 03:40] bent0b0x commented on #56
My two cents: we definitely do not need to prioritize this right now. But at the same time for us to be a kickass player we're going to want this feature eventually. I wouldn't mind keeping it open for a while and waiting for when most of our other priorities have been completed, just so that we do not forget about this forever. But also okay closing if we are not sure we are ever going to do it.

[2018-03-20 11:07] jellegerbrandy commented on #56
Good point, ben. I think  that yes we should have a kickass player, but the
kickassery comes from the fact that it is a player with integrated crypto,
not because we have lots of features that others already have. So I say
close this in favor of focusing on the new and never-done - before stuff

On Tue, Mar 20, 2018, 12:40 AM Ben <notifications@github.com> wrote:

[2018-03-20 12:00] bent0b0x commented on #56
Works for me!

[2018-03-20 12:05] #56 closed

[2018-03-28 23:54] bent0b0x commented on #40
Hey @felipegaucho, I think @jrgarou fixed this in a PR from a month or so ago. The black bars show up sometimes, but only when it is necessary to maintain the aspect ratio of the video (i.e. you are playing a tall video in a wide screen). Feel free to take a look yourself and let me know if you see any videos that are misbehaving, then I'll take a look at those specific cases.

[2018-03-29 04:13] bent0b0x commented on #41
@felipegaucho, I am pretty sure it is impossible to enable full-screen on twitter (please do correct me if I'm wrong, though).

I just tested w/ youtube, and when youtube is embedded on twitter their full-screen button is grayed out.

@pedrocasa assuming this is correct, should we also gray out/disable our full-screen button? Or just remove it when embedded on twitter?

[2018-03-29 11:18] pedrocasa commented on #41
I think removing is the better option

[2018-03-29 11:29] felipegaucho commented on #40
Seems good to me!

[2018-03-29 11:29] #40 closed

[2018-04-02 14:27] #49 closed

[2018-04-02 14:27] #47 closed

[2018-04-02 14:28] #41 closed

[2018-04-02 14:28] #30 closed

[2018-04-10 17:00] fipatual opened #58 "svg icons not appearing on windows X browser Y"
The 'buttons' do not appear..but anyway it's running on the pc. Makes the machine very slow for multitasking.
![whatsapp image 2018-04-10 at 12 36 57](https://user-images.githubusercontent.com/38258469/38571661-1f1002a2-3cbf-11e8-9ab1-c6f9eae7a650.jpeg)

[2018-04-11 01:07] bent0b0x commented on #58
Thank you for reporting this! I will look into it

[2018-04-11 01:09] bent0b0x commented on #45
Hey @felipegaucho, is this still a priority for next version? If so, @pedrocasa let me know your thoughts on the design!

[2018-04-11 01:14] bent0b0x commented on #44
@felipegaucho a few questions about this:

- Mb stored: this sounds like you mean the number of Mb being used to store any/all paratii content on your machine at any given time, and not specific to the video you are watching. Does this make sense in a video stats box? I would think maybe this kind of global statistic could live on another page (that we do not have yet)
- similar question for uploa

[2018-04-11 01:17] bent0b0x commented on #50
Is this still a priority? I just did a little research and you can only chromecast from a chrome browser, so not sure how big of a win this would be for us. That said, we can do it and display the icon only in chrome if we want!

[2018-04-11 16:03] dtquandt opened #59 "Player violates Medium Do Not Track policy"
![image](https://user-images.githubusercontent.com/22087080/38628781-954e5652-3d88-11e8-8ac5-b2ee5c3e9edc.png)

In a private window with tracking protection on Firefox, Paratii embeds show a DNT warning on Medium.

[2018-04-13 08:18] felipegaucho commented on #45
Yes, it is!

[2018-08-07 13:17] felipegaucho commented on #59
Closing. Was an updated policy, happens with many embeds. Depends on some circumstances, and hasn't been appearing much here.

[2018-08-07 13:17] #59 closed

[2018-08-07 13:18] felipegaucho commented on #58
@fipatual do you still see this issue?

[2018-08-07 13:18] felipegaucho commented on #55
Closing. Non-prioritary.

[2018-08-07 13:18] #55 closed

[2018-08-07 13:19] felipegaucho commented on #45
Closing after @pedrocasa renegaded love to it :(
(Joking!!)

[2018-08-07 13:19] #45 closed

[2018-08-07 13:19] #44 closed

[2018-08-07 13:20] felipegaucho commented on #32
@pedrocasa is this all on the Design Wiki? Or in a common place that holds all our design / UI guides?

How can we close this issue?

[2018-08-07 13:23] felipegaucho opened #63 "Embedded player alignments are all messed up (small version)"
Maybe it's a simple breakpoint fix @jrgarou / @bent0b0x ?

![broken playwer](https://user-images.githubusercontent.com/26517120/43778338-cf1f304a-9a2b-11e8-8ba2-1a998b3cfa55.jpg)

[2018-08-07 13:29] felipegaucho opened #64 "Break video title line in the player ("..." at end)"
We have done this before https://github.com/Paratii-Video/paratii-mediaplayer/issues/53, I don't know where it's gone!
1st line (finishing before any icons!!!!), 2nd line and "...", never 3rd line! Agree, guys?

![broken playwer](https://user-images.githubusercontent.com/26517120/43778637-98aa189e-9a2c-11e8-8748-a18e170db9f2.jpg)

[2018-08-07 13:35] felipegaucho opened #65 "Remove useless wallet icon from embedded player"
I'm very sad to open this issue and to finalise this removal. Feel like better communication (more proactive, on all sides) could've led to a better usage of the feature.

EDIT: not better communication, but probably better documenting of communication, I guess.

For now, I only see useless avatar icons, I click them and they turn purple, that's it. Example below.

<img width="681" alt="screen sho

[2018-08-07 13:48] jrgarou commented on #63
@felipegaucho
besides the long title, I've fixed that on https://github.com/Paratii-Video/paratii-portal/pull/795 PR

[2018-08-07 19:42] jrgarou commented on #64
Fixing on https://github.com/Paratii-Video/paratii-portal/commit/75088db7cefbf8de4029f04b5c8a47cefff37fc4

[2018-08-07 20:21] jrgarou commented on #64
PR with this fixed
https://github.com/Paratii-Video/paratii-portal/pull/797

[2018-08-13 14:08] pedrocasa commented on #32
All designs are in the https://github.com/Paratii-Video/paratii-portal/wiki/Design-Wiki

[2018-08-13 14:08] #32 closed

[2018-08-14 19:22] felipegaucho commented on #63
Tks for that 👊

[2018-08-14 19:30] felipegaucho commented on #65
Fixed by @jrgarou on https://github.com/Paratii-Video/paratii-portal/pull/795 🙏

[2018-08-14 19:30] #65 closed

[2018-08-14 19:30] #64 closed

[2018-08-14 19:30] #63 closed

[2018-10-19 22:36] HerHde opened #67 "Installation instructions incomplete"
Ahoj,

unfortunately your installation instructions are incomplete, as yarn does not install the peer dependencies, thus leading to missing deps when running `yarn dev run`:

[code]
Greetings
~HerHde

[2018-10-19 22:43] HerHde opened #68 "Add keyboard shortcuts"
Ahoj,

it would contribute to the usability to add common video player shortcuts like `F` for fullscreen, `ArrowLeft/Right` for a 5 second jump etc. like in [this list for YT hotkeys](https://www.hongkiat.com/blog/useful-youtube-keyboard-shortcuts-to-know/).

Greetings
~HerHde

[2018-10-19 22:47] HerHde opened #69 "Close quality menu"
Ahoj,

it would be nice if the playback quality popover would close if it looses focus or something similar.

Greetings
~HerHde